.widget
  .widget-title
    i(class='fa fa-weibo')= ' ' + __('新浪微博')
  iframe(width="100%",height="400",class="share_self",frameborder="0",scrolling="no",src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid= 1059010653&verifier= 36e2f0a50838662a4792ecff7650c86b&colors=ffffff,ffffff,333333,40759b,ecfbfd&dpc=1")